@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.sign {
  padding: 5%;

  @include tablet {
    width: 60%;
    margin: auto;
  }

  &__lbl {
    @include label;
  }

  &__input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    @include form-input;
  }

  &__btn {
    margin-top: 5%;
    width: 100%;
    @include button;
    &:hover {
      background-color: $primary;
    }
  }

  &__terms {
    margin-top: 5%;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
  }
}
