@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.delete {
  width: 50%;

  &__txt {
    text-align: center;
  }
  &__btn {
    border: 1px solid $primary;
    height: 2rem;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    &:hover {
      background-color: white;
    }
  }
}
