@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.login {
  background-color: $primary;
  display: flex;
  flex-direction: column;

  &__form {
    padding: 5%;
    border: 5px solid white;
    width: 80%;
    margin: auto;
    box-shadow: $shadow;

    @include tablet {
      width: 60%;
      margin: auto;
    }
  }

  &__lbl {
    @include label;
  }

  &__input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    @include form-input;
  }

  &__btn {
    margin-top: 5%;
    width: 100%;
    @include button;
    &:hover {
      background-color: rgb(255, 247, 199);
    }

    &--signup {
      @include button;
      width: 100%;
      margin-top: 2%;
      background-color: rgb(255, 252, 211);
    }
  }
}
