@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.upload {
  border: 3px solid $primary;
  box-shadow: $shadow;
  margin: auto;
  margin: 1rem;
  text-align: center;

  &__img {
    margin: 1rem;
    border: 3px solid rgb(148, 206, 216);
  }
}
