@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.home {
  background-color: rgb(255, 253, 231);
  text-align: center;
  padding-top: 5%;

  &__title {
    color: $secondary;
  }

  &__btn {
    @include button;
    border: 1px solid $primary;
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
    &:hover {
      background-color: white;
    }

    @include tablet {
      margin-bottom: 5%;
      width: 30%;
    }

    @include desktop {
      width: 20%;
    }
  }

  .thumbnails {
    @include tablet {
      display: none;
    }
  }
}
