@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.all-profiles {
  background-image: url(../../assets/images/background-2.jpg);
  background-repeat: unset;
  background-position: bottom;
  display: flex;
  flex-direction: column;

  &__previous {
    font-size: 1rem;
    color: $secondary;
    font-family: "poppins";
    font-weight: 700;
    &:hover {
      background-color: rgb(212, 237, 253);
    }
  }
  &__search {
    margin: 0 auto;
    margin-top: 5%;
    width: 80%;
    @include form-input;

    @include tablet {
      width: 70%;
    }
  }

  &__name {
    color: rgb(110, 110, 110);
    font-size: 1.5rem;
    &:hover {
      color: white;
    }
  }
}
